# Конфигурация путей для Wi-Fi Hack For Mac by Googleee
SECLISTS_BASE_DIR="$HOME/SecLists"
DEFAULT_WORDLIST="$HOME/SecLists/Passwords/Common-Credentials/10k-most-common.txt"
COMBINED_DIR="$HOME/SecLists/Combined"
CRUNCH_THREADS=4
